<!-- <div class="form">
    <form class="cad" action="">
        <div>
            <label for="">Nome</label><br>
            <input type="text" value="Nome">
        </div>
        <div>
            <label>CPF</label><br>
            <input type="text">
        </div>
        <div>
            <label for="">Numero</label><br>
            <input type="text" value="">
        </div>
        <div>
            <label for="">Nome</label><br>
            <input type="text" value="Nome">
        </div>
        <div>
            <label>CPF</label><br>
            <input type="text">
        </div>
        <div>
            <label for="">Numero</label><br>
            <input type="text" value="">
        </div>
        <div>
            <label for="">Nome</label><br>
            <input type="text" value="Nome">
        </div>
        <div>
            <label>CPF</label><br>
            <input type="text">
        </div>
        <div>
            <label for="">Numero</label><br>
            <input type="text" value="">
        </div>
    </form>
</div> -->
<div class="class">
    <h1>ola {{nome}}</h1>
    <p>idade: {{idade}}</p>
    <p>job: {{job}}</p>
    <p>gosto de {{hobbies[0]}}</p>
    <p>meu carro: {{car.nome}}</p>
</div>

