// // .form {
// //     padding: 20%;
// //     background-color: beige;
// //     justify-content: center;
    
// //     .cad {
        
// //         justify-content: space-between;
// //         color: orange;
// //         flex-direction: row;
// //         display: flex;
// //         flex-wrap: wrap;
// //     }
// }
p{
    color: aqua;
    background: black;
    margin: 2px;
    border: inset red ;
}